<div class="footer">
    <div class="footer-margin">
        <div fxLayout="row">
            <div fxFlex="50">
                <div fxLayout="row">
                    <a mat-button routerLink="/" tabindex="0" href="/">Home</a>
                </div>
                <div fxLayout="row">
                    <a mat-button routerLink="/" tabindex="0" href="/">Services</a>
                </div>
                <div fxLayout="row">
                    <a mat-button routerLink="/" tabindex="1" href="/">About Us</a>
                </div>
                <div fxLayout="row">
                    <a mat-button routerLink="/" tabindex="1" href="/">Blog</a>
                </div>
            </div>
            <div fxFlex="50">
                <h1>We are available 24/7</h1>
                <p>info@coromite.com</p>
                <a mat-stroked-button routerLink="/" tabindex="2" href="/" color="primary">Contact Us</a>
            </div>
        </div>
        <div class="divider">
            <mat-divider></mat-divider>
        </div>
        <div class="copyright">
            <p>© 2021 Coromite Labs Inc. All rights reserved.</p>
        </div>
    </div>
</div>