<mat-toolbar class="app-toolbar">
    <mat-toolbar-row fxLayout="row">
        <div mat-button fxLayoutAlign="center center" routerLink="/" (click)="scrollToTop()" class="logo-div">
            <img class="logo" src="assets/logo.webp">
            <h1>Coromite Labs</h1>
        </div>
        <span class="menu-spacer"></span>
        <div class="nav-right">
            <a mat-button routerLink="/" tabindex="0" (click)="scrollToTop()">Home</a>
            <a mat-button routerLink="/" tabindex="1" fragment="services">Services</a>
            <a mat-button routerLink="/about" tabindex="2" href="/about">About Us</a>
            <!-- <a mat-button routerLink="/blog" tabindex="3" href="/">Blog</a> -->
            <a mat-stroked-button routerLink="/" tabindex="4" fragment="contact">Contact Us</a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>