.about-us-div {
    background-color: #eeeeee;
    text-align: center;
}

.mat-card {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 3rem;
    border-radius: 20px;
}

.bi-geo {
    color: #1976d2;
}

.bi-signpost-2 {
    color: #4BB79B;
}

.bi-bullseye {
    color: #088a91;
}

.mat-card-title {
    font-size: 22px;
}

.mat-card-subtitle {
    font-size: 21px;
    line-height: 1.7em;
    font: normal normal normal 18px/1.4em raleway, sans-serif;
    color: rgb(96, 94, 94);
    font-weight: bold;
    margin-bottom: 2px;
    margin-top: 20px !important;
}

.body-content {
    font-size: 15px;
}