<div class="standard-img" [style.background-image]="'url(assets/coding.jpeg)'" fxLayoutAlign="center center">
    <div class="standard-title-div" fxLayout="column" fxLayoutAlign="center center">
        <h1>Helping customers adopt</h1>
        <h2>TECHNOLOGICAL SOLUTIONS</h2>
    </div>
</div>
<app-about-us></app-about-us>
<div class="standard-img" [style.background-image]="'url(assets/phone.jpeg)'" fxLayoutAlign="center center">
    <div class="standard-title-div" fxLayout="column" fxLayoutAlign="center center">
        <h1>We are with you</h1>
        <h2>From <span class="color_teal">START</span> to <span class="color_green">FINISH</span></h2>
    </div>
</div>
<app-members></app-members>