<div id="services" fxLayout="column">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="30px" fxFlex="120" class="services-div" fxLayoutAlign="center center">
        <mat-card fxFlex="40" class="service-card" fxFlexAlign="stretch">
            <mat-card-content>
                <mat-icon mat-card-image class="design" fxFlexAlign="center">brush</mat-icon>
                <h2>DESIGN</h2>
                <p class="card-text">Taking user experience to the next level</p>
            </mat-card-content>
        </mat-card>
        <mat-card fxFlex="40" class="service-card" fxFlexAlign="stretch">
            <mat-card-content>
                <mat-icon mat-card-image class="develop" fxFlexAlign="center">code</mat-icon>
                <h2>DEVELOP</h2>
                <p class="card-text">Building reliable websites to handle all traffic</p>
            </mat-card-content>
        </mat-card>
        <mat-card fxFlex="40" class="service-card" fxFlexAlign="stretch">
            <mat-card-content>
                <mat-icon mat-card-image class="seo" fxFlexAlign="center">travel_explore</mat-icon>
                <h2>SEO</h2>
                <p class="card-text">Ensuring your success by attracting customers to your website</p>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- <div fxLayout="row" class="services-div" fxFlex="100">
        <mat-card fxLayout="row" class="service-card" fxFlex="100">
            <ul class="service-ul">
                <li>Software development</li>
                <li>Web development</li>
                <li>Mobile development</li>
                <li>UX and UI design</li>
                <li>Data modeling</li>
                <li>Quality assurance</li>
                <li>Machine learning integration</li>
                <li>Automation consulting</li>
                <li>Data warehousing</li>
                <li>Cybersecurity</li>
                <li>Cloud Computing</li>
                <li>Database Administration</li>
            </ul>
        </mat-card>
    </div> -->
</div>