.services-div {
    background-color: #eeeeee;
    padding: 1rem;
}

.service-card {
    background-color: white;
    text-align: center;
}

.card-button {
    background-color: #1976d2;
    color: white;
}

.card-text {
    padding-top: 20px;
    padding-bottom: 60px;
    font-size: 21px;
    color: #6e7577;
}

.service-ul {
    columns: 4;
}