.services-div {
    background-color: #eeeeee;
    padding: 1rem;
}

.service-card {
    background-color: white;
    text-align: center;
}

.card-text {
    padding-top: 5px;
    padding-bottom: 4rem;
    font-size: 21px;
    color: #6e7577;
}

.service-ul {
    columns: 4;
}

.mat-card {
    border-radius: 20px;
}

.mat-card h2 {
    margin-top: 20px;
    margin-bottom: 0;
}

.maintain-icon {
    color: #088a91
}

.mat-icon {
    transform: scale(5);
    margin-bottom: 3rem;
}

.mat-icon.develop {
    color: #1976d2;
}

.mat-icon.deploy {
    color: #4BB79B;
}

.cogs {
    width: 20px;
    height: 20px;
    color: #088a91;
}