.contact-inline-div {
    padding: 2rem;
    margin: 3rem;
}

.submit-button {
    background-color: #1976d2;
    color: white;
    width: 80px;
}

.submit-button:hover {
    background-color: #0d4072;
}

.submit-div {
    align-self: center;
}

.error-msg {
    align-self: center;
}

:host ::ng-deep .custom-spinner circle {
    stroke: white;
}

.error-button {
    background-color: red;
    color: white;
    width: 80px;
}

.success-button {
    background-color: green;
    color: white;
    width: 80px;
}